* {
	font-family: sans-serif;
}

div {
	font-size: 2em;
}

body {
	background: #adeaff;
	color: #59b1cf;
}

a {
	color: #7dc2d9;
	font-size: 1em;
}
a:hover {
	font-size: 1.5em;
	color: white;
}

#images {
	display: flex;
	width: 95%;
	margin: 0 auto;
}
img.screenshot {
	width: 100%;
}
a.screenshot {
	flex-basis: 100%;
}
img.screenshot,
a.screenshot {
	font-size: 0 !important;
	display: inline;
	margin: 2px;
}
a.screenshot:hover {
	flex-basis: 600%;
}
